.bg {
    background-color: #a0cbee;
    height: 100vh;
    width: 100%;
}

.container {
    height: 100vh;
    color: black
}

.loginFormContainer {
    width: 24rem;
    height: auto;
    background-color: rgb(222, 222, 222);
}

.loginFormLegend {
    width: 22rem;
    background: #dee2e6;
}

.errorMessage {
    font-size: 12px;
    letter-spacing: 0.05rem;
    padding-left: 0.25rem;
    color: #FF0000;
}

.Logo {
    background-image: url(../../Images/iso-2-1-logo-black-and-white.png);
}